select {
    padding: 10px;
    border: 0.5px solid;
    border-radius: 5px;
    border-color: rgb(123, 123, 123);
    font-size: 18px;
    margin-bottom: 5px;
}
.Main_Select {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(192, 84, 84);
    margin-bottom: 5px;
}
.title {
    font-size: 20px;
    padding: 10px;
}