.ExpensesTab{
    background-color: rgb(192, 84, 84);
    width: 700px;
    padding: 20px;
    margin: 5px auto;
    top: 0;
    left: 0;
    border-radius: 20px;
   
}
.Item_text {
    font-size: 20px;
    color: rgb(30, 16, 22);
    text-align: center;
}